zone "{{ INITIAL_ZONE_NAME }}" {
    type master;
    file "/etc/bind/zones/db.{{ INITIAL_ZONE_NAME }}";
};

zone "{{ INITIAL_ZONE_IP_R }}.in-addr.arpa" {
    type master;
    file "/etc/bind/zones/db.{{ INITIAL_ZONE_IP }}"; 
};
