
option domain-name "lab.net";
#option domain-name-servers 8.8.8.8, 8.8.4.4;
option domain-name-servers 192.168.3.22;
default-lease-time 600;
max-lease-time 7200;
ddns-update-style none;
authoritative;


subnet 192.168.3.0 netmask 255.255.255.0 {

    option routers                  192.168.3.1;
    option subnet-mask              255.255.255.0;
    option broadcast-address        192.168.3.255;
    option domain-name-servers      8.8.8.8;
    default-lease-time 86400;
    max-lease-time 86400;
    range 192.168.3.150 192.168.3.180;
    range 192.168.3.190 192.168.3.250;
}
